# Investigation of the reliability of borrowers

**Project's description**
The customer is the credit department of the bank. It is necessary to understand whether the marital status, the number of children of the client, the level of income, the purpose of the loan affects the fact of repayment of the loan on time.
Input data from the bank — statistics on the solvency of customers.
The results of the study will be taken into account when building a credit scoring model — a special system that evaluates the ability of a potential borrower to repay a loan to a bank.

**Data description**
- children — number of children in the family
- days_employed — total work experience in days
- dob_years — client's age in years
- education — the client's level of education
- education_id — education level identifier
- family_status — client's marital status
- family_status_id — id of marital status
- gender — client's gender
- income_type — type of employment
- debt — did the client have a debt on repayment of loans
- total_income — client's monthly income
- purpose — purpose of obtaining a loan

**Work plan**
The project will be divided into two parts: in the first part we will study the data and prepare them for analysis (remove duplicates and anomalous values, categorize the data), in the second part we will examine the data and answer the customer's questions.

## Step 1. Open the table and examine the general information about the data

**Importing the pandas library. Let's read the data from the csv file into a dataframe and save it to the data variable..**

In [1]:
import pandas as pd

try:
    data = pd.read_csv('/datasets/data.csv')
except:
    data = pd.read_csv('https://code.s3.yandex.net/datasets/data.csv')

**Let's display the first 20 lines of the data dataframe on the screen.**

In [2]:
data.head(20)

,children,days_employed,dob_years,education,education_id,family_status,family_status_id,gender,income_type,debt,total_income,purpose
0,1,-8437.673028,42,высшее,0,женат / замужем,0,F,сотрудник,0,253875.639453,покупка жилья
1,1,-4024.803754,36,среднее,1,женат / замужем,0,F,сотрудник,0,112080.014102,приобретение автомобиля
2,0,-5623.422610,33,Среднее,1,женат / замужем,0,M,сотрудник,0,145885.952297,покупка жилья
3,3,-4124.747207,32,среднее,1,женат / замужем,0,M,сотрудник,0,267628.550329,дополнительное образование
4,0,340266.072047,53,среднее,1,гражданский брак,1,F,пенсионер,0,158616.077870,сыграть свадьбу
5,0,-926.185831,27,высшее,0,гражданский брак,1,M,компаньон,0,255763.565419,покупка жилья
6,0,-2879.202052,43,высшее,0,женат / замужем,0,F,компаньон,0,240525.971920,операции с жильем
7,0,-152.779569,50,СРЕДНЕЕ,1,женат / замужем,0,M,сотрудник,0,135823.934197,образование
8,2,-6929.865299,35,ВЫСШЕЕ,0,гражданский брак,1,F,сотрудник,0,95856.832424,на проведение свадьбы
9,0,-2188.756445,41,среднее,1,женат / замужем,0,M,сотрудник,0,144425.938277,покупка жилья для семьи
10,2,-4171.483647,36,высшее,0,женат / замужем,0,M,компаньон,0,113943.491460,покупка недвижимости
11,0,-792.701887,40,среднее,1,женат / замужем,0,F,сотрудник,0,77069.234271,покупка коммерческой недвижимости
12,0,NaN,65,среднее,1,гражданский брак,1,M,пенсионер,0,NaN,сыграть свадьбу
13,0,-1846.641941,54,неоконченное высшее,2,женат / замужем,0,F,сотрудник,0,130458.228857,приобретение автомобиля
14,0,-1844.956182,56,высшее,0,гражданский брак,1,F,компаньон,1,165127.911772,покупка жилой недвижимости
15,1,-972.364419,26,среднее,1,женат / замужем,0,F,сотрудник,0,116820.904450,строительство собственной недвижимости
16,0,-1719.934226,35,среднее,1,женат / замужем,0,F,сотрудник,0,289202.704229,недвижимость
17,0,-2369.999720,33,высшее,0,гражданский брак,1,M,сотрудник,0,90410.586745,строительство недвижимости
18,0,400281.136913,53,среднее,1,вдовец / вдова,2,F,пенсионер,0,56823.777243,на покупку подержанного автомобиля
19,0,-10038.818549,48,СРЕДНЕЕ,1,в разводе,3,F,сотрудник,0,242831.107982,на покупку своего автомобиля

**We will output the basic information about the dataframe using the method `info()`.**

In [3]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 21525 entries, 0 to 21524
Data columns (total 12 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   children          21525 non-null  int64
 1   days_employed     19351 non-null  float64
 2   dob_years         21525 non-null  int64
 3   education         21525 non-null  object
 4   education_id      21525 non-null  int64
 5   family_status     21525 non-null  object
 6   family_status_id  21525 non-null  int64
 7   gender            21525 non-null  object
 8   income_type       21525 non-null  object
 9   debt              21525 non-null  int64
 10  total_income      19351 non-null  float64
 11  purpose           21525 non-null  object
dtypes: float64(2), int64(5), object(5)
memory usage: 2.0+ MB

## Step 2. Data Preprocessing

### Deleting gaps in a dataframe

**Output the number of missing values for each column.**

In [4]:
data.isna().sum()

children               0
days_employed       2174
dob_years              0
education              0
education_id           0
family_status          0
family_status_id       0
gender                 0
income_type            0
debt                   0
total_income        2174
purpose                0
dtype: int64

**Let's calculate the share of omissions in the columns 'total_income' and 'days_employed'.**

In [5]:

pd.DataFrame(data.isna().mean()*100).style.set_precision(1).background_gradient('coolwarm')

**There are missing values in two columns. One of them — `total_income` — stores income data. The amount of income is most affected by the type of employment, so we need to fill in the gaps in this column with the median value for each type from the `income_type` column.**

In [6]:
for t in data['income_type'].unique():
    data.loc[(data['income_type'] == t) & (data['total_income'].isna()), 'total_income'] = \
    data.loc[(data['income_type'] == t), 'total_income'].median()

### Processing of abnormal values

**Let's process the values in the `days_employed` column: replace all negative values with positive ones using the `abs()` method.**

In [7]:
data['days_employed'] = data['days_employed'].abs()

**For each type of employment, we will output the median value of the length of service `days_employed` in days.**

In [8]:
data.groupby('income_type')['days_employed'].agg('median')

income_type
безработный        366413.652744
в декрете            3296.759962
госслужащий          2689.368353
компаньон            1547.382223
пенсионер          365213.306266
предприниматель       520.848083
сотрудник            1574.202821
студент               578.751554
Name: days_employed, dtype: float64

**Two types (unemployed and pensioners) will have abnormally large values. It is difficult to correct such values, so let's leave them as they are.**

**Output a list of unique values of the column `children`.**

In [9]:
data['children'].unique()
data['children'].value_counts()

 0     14149
 1      4818
 2      2055
 3       330
 20       76
-1        47
 4        41
 5         9
Name: children, dtype: int64

**There are two abnormal values in the `children` column. Delete the lines in which such abnormal values occur from the dataframe `data`.**

**Let's calculate the percentage of abnormal values from the total number of values in the 'children' column.**

In [10]:
anomalii = len(data[(data['children'] == -1) | (data['children'] == 20)]) * 100 / len(data)
round(anomalii, 2)

0.57

In [11]:
data = data[(data['children'] != -1) & (data['children'] != 20)]

**Once again, we will list the unique values of the `children` column to make sure that the abnormal values are removed.**

In [12]:
data['children'].unique()

array([1, 0, 3, 2, 4, 5], dtype=int64)

### Processing of abnormal values (continued)

**Fill in the gaps in the `days_employed` column with median values for each `income_type` employment type.**

In [13]:
for t in data['income_type'].unique():
    data.loc[(data['income_type'] == t) & (data['days_employed'].isna()), 'days_employed'] = \
    data.loc[(data['income_type'] == t), 'days_employed'].median()

**Make sure that all the gaps are filled in.**

In [14]:
data.isna().sum()

children            0
days_employed       0
dob_years           0
education           0
education_id        0
family_status       0
family_status_id    0
gender              0
income_type         0
debt                0
total_income        0
purpose             0
dtype: int64

### Changing Data Types

**Replace the real data type in the `total_income` column with an integer using the `astype()` method.**

In [15]:
data['total_income'] = data['total_income'].astype('int')

### Processing duplicates

**Let's process implicit duplicates in the `education` column. In this column there are the same values, but written in different ways: using uppercase and lowercase letters. Let's bring them to the lower case.**

In [16]:
data['education'] = data['education'].str.lower()

**Let's display the number of duplicate rows and delete them.**

In [17]:
data.duplicated().sum()

71

In [18]:
data = data.drop_duplicates()

### Categorization of data

**Based on the ranges specified below, we will create a column `total_income_category` with categories:**

- 0–30000 — `'E'`;
- 30001–50000 — `'D'`;
- 50001–200000 — `'C'`;
- 200001–1000000 — `'B'`;
- 1000001 и выше — `'A'`.

In [19]:
def categorize_income(income):
    try:
        if 0 <= income <= 30000:
            return 'E'
        elif 30001 <= income <= 50000:
            return 'D'
        elif 50001 <= income <= 200000:
            return 'C'
        elif 200001 <= income <= 1000000:
            return 'B'
        elif income >= 1000001:
            return 'A'
    except:
        pass

In [20]:
data['total_income_category'] = data['total_income'].apply(categorize_income)

**Let's display a list of the unique purposes of taking a loan from the `purpose` column.**

In [21]:
data['purpose'].unique()

array(['покупка жилья', 'приобретение автомобиля',
       'дополнительное образование', 'сыграть свадьбу',
       'операции с жильем', 'образование', 'на проведение свадьбы',
       'покупка жилья для семьи', 'покупка недвижимости',
       'покупка коммерческой недвижимости', 'покупка жилой недвижимости',
       'строительство собственной недвижимости', 'недвижимость',
       'строительство недвижимости', 'на покупку подержанного автомобиля',
       'на покупку своего автомобиля',
       'операции с коммерческой недвижимостью',
       'строительство жилой недвижимости', 'жилье',
       'операции со своей недвижимостью', 'автомобили',
       'заняться образованием', 'сделка с подержанным автомобилем',
       'получение образования', 'автомобиль', 'свадьба',
       'получение дополнительного образования', 'покупка своего жилья',
       'операции с недвижимостью', 'получение высшего образования',
       'свой автомобиль', 'сделка с автомобилем',
       'профильное образование', 'высшее образование',
       'покупка жилья для сдачи', 'на покупку автомобиля', 'ремонт жилью',
       'заняться высшим образованием'], dtype=object)

**Let's create a function that, based on the data from the `purpose` column, will form a new `purpose_category` column, which will include the following categories:**

- `'операции с автомобилем'`,
- `'операции с недвижимостью'`,
- `'проведение свадьбы'`,
- `'получение образования'`.

In [22]:
def categorize_purpose(row):
    try:
        if 'автом' in row:
            return 'операции с автомобилем'
        elif 'жил' in row or 'недвиж' in row:
            return 'операции с недвижимостью'
        elif 'свад' in row:
            return 'проведение свадьбы'
        elif 'образов' in row:
            return 'получение образования'
    except:
        return 'нет категории'

In [23]:
data['purpose_category'] = data['purpose'].apply(categorize_purpose)

**At this point, the data preprocessing stage ends, you can proceed to data research and analysis.
During the preprocessing stage, we found that the table has gaps in the columns 'days_employed' and 'total_income'.
The number of omissions in both columns is 10% of the total number of values in this column.
We filled in the gaps in these columns using the median method.
Further, abnormal values were found in the 'children' column.
So that the rows with abnormal values do not affect the subsequent analysis of the data, we deleted them.
Next, duplicate rows were counted and deleted.
In the last part of the preprocessing stage, we categorized the data:
we introduced an income category depending on the client's income and divided all the clients' goals into 4 categories: 'getting an education', 'holding a wedding', 'real estate transactions', 'car transactions'.**

### Step 3. Conduct exploratory data analysis and answer the questions

### Is there a relationship between the number of children and the repayment of the loan on time?

In [24]:
# finding the unique values of the 'debt' column
print(data['debt'].unique())
# we assume that 0 - returned the loan on time; 1- did not return the loan on time

[0 1]

In [25]:
# we look at the overall situation for customers - who is more: those who repay the loan on time or vice versa?
print(data['debt'].value_counts())

0    19599
1     1732
Name: debt, dtype: int64

In [26]:
# we group clients by the number of children
print(data.groupby('children')['income_type'].count())

children
0    14091
1     4808
2     2052
3      330
4       41
5        9
Name: income_type, dtype: int64

In [27]:
# first, we write a function that converts a number into a string consisting of a number and a percent sign
def percentages(to_percent):
    return str(round((to_percent.sum() / to_percent.count()) * 100, 2)) + '%'
# let's create a summary table in which the data will be grouped by the column 'children'
# and the total number of loans taken, the number of loans not returned on time will be calculated
# and the share of loans not returned on time
data_children = data.pivot_table(index=['children'], values=['debt'], aggfunc=['sum', 'count', percentages])
print(data_children)

           sum  count percentages
          debt   debt        debt
children
0         1063  14091       7.54%
1          444   4808       9.23%
2          194   2052       9.45%
3           27    330       8.18%
4            4     41       9.76%
5            0      9        0.0%

In [28]:
# we will assign more understandable names to the columns of the table for the customer
data_children = data_children.rename(columns = {'sum' : 'number of debtor clients', 
                                                'count' : 'clients total number', 'percentages' : 'percentage of debtors'})
print(data_children)

         number of debtor clients clients total number percentage of debtors
                             debt                 debt                  debt
children
0                            1063                14091                 7.54%
1                             444                 4808                 9.23%
2                             194                 2052                 9.45%
3                              27                  330                 8.18%
4                               4                   41                 9.76%
5                               0                    9                  0.0%

**Conclusion: it was not possible to find a direct relationship between the number of children and the repayment of the loan on time, since the percentage of loans returned on time does not change significantly with different numbers of children.
Nevertheless, it can be said that most of the bank's customers taking out a loan do not have children and are more diligent in repaying the loan than people with 1.2 children. It is difficult to say anything definite about clients with 3 children or more because of their low representation in the sample.**

### Есть ли зависимость между семейным положением и возвратом кредита в срок?

In [29]:
# we find the unique values of the 'family_status' column and look at the distribution of clients by their marital status
print(data['family_status'].unique())
print(data['family_status'].value_counts())

['женат / замужем' 'гражданский брак' 'вдовец / вдова' 'в разводе'
 'Не женат / не замужем']
женат / замужем          12261
гражданский брак          4134
Не женат / не замужем     2796
в разводе                 1189
вдовец / вдова             951
Name: family_status, dtype: int64

In [30]:
# create a pivot table in which the data will be grouped by the 'family_status' column
# and the total number of loans taken, the number of loans not returned on time is calculated
# and the share of loans not returned on time
data_family_status = data.pivot_table(index=['family_status'], values=['debt'], aggfunc=['sum', 'count', percentages])
print(data_family_status)

                       sum  count percentages
                      debt   debt        debt
family_status
Не женат / не замужем  273   2796       9.76%
в разводе               84   1189       7.06%
вдовец / вдова          63    951       6.62%
гражданский брак       385   4134       9.31%
женат / замужем        927  12261       7.56%

In [31]:
# we will assign more understandable names to the columns of the table for the customer
data_family_status = data_family_status.rename(columns = {'sum' : 'number of debtor clients', 
                                                          'count' : 'clients total number', 
                                                          'percentages' : 'percentage of debtors'})
print(data_family_status)

                      number of debtor clients clients total number  \
                                          debt                 debt
family_status
Не женат / не замужем                      273                 2796
в разводе                                   84                 1189
вдовец / вдова                              63                  951
гражданский брак                           385                 4134
женат / замужем                            927                12261

                      percentage of debtors
                                       debt
family_status
Не женат / не замужем                 9.76%
в разводе                             7.06%
вдовец / вдова                        6.62%
гражданский брак                      9.31%
женат / замужем                       7.56%

**Conclusion: it was not possible to find a direct relationship between marital status and repayment of the loan on time, since the percentage of loans returned on time does not change significantly with different marital status.
Nevertheless, it can be said that most of the bank's customers taking out a loan are married.
Further, we can say that widows/widowers are more executive in repaying the loan, the least executive are Unmarried / unmarried clients, as well as clients who are in a civil marriage.**

### Is there a relationship between the level of income and repayment of the loan on time?

In [32]:
# we find the unique values of the 'total_income_category' column and look at the distribution of customers by their income level
print(data['total_income_category'].unique())
print(data['total_income_category'].value_counts())

['B' 'C' 'D' 'E' 'A']
C    15921
B     5014
D      349
A       25
E       22
Name: total_income_category, dtype: int64

In [33]:
# create a pivot table in which the data will be grouped by the column 'total_income_category'
# and the total number of loans taken, the number of loans not returned in time is calculated
# and the share of non-timely repaid loans
data_total_income_category = data.pivot_table(index=['total_income_category'], 
                                              values=['debt'], aggfunc=['sum', 'count', percentages])
print(data_total_income_category)

                        sum  count percentages
                       debt   debt        debt
total_income_category
A                         2     25        8.0%
B                       354   5014       7.06%
C                      1353  15921        8.5%
D                        21    349       6.02%
E                         2     22       9.09%

In [34]:
# we will assign more understandable names to the columns of the table for the customer
data_total_income_category = data_total_income_category.rename(columns = {'sum' : 'number of debtor clients', 
                                                                          'count' : 'clients total number', 
                                                                          'percentages' : 'percentage of debtors'})
print(data_total_income_category)

                      number of debtor clients clients total number  \
                                          debt                 debt
total_income_category
A                                            2                   25
B                                          354                 5014
C                                         1353                15921
D                                           21                  349
E                                            2                   22

                      percentage of debtors
                                       debt
total_income_category
A                                      8.0%
B                                     7.06%
C                                      8.5%
D                                     6.02%
E                                     9.09%

**Conclusion: it was not possible to find a direct relationship between the number of children and the income level, since the percentage of loans repaid on time does not change significantly with different income levels.
Nevertheless, we can say that most of the bank's customers taking out a loan are people with income levels from 50,000 to 200,000 and from 200,000 to 1,000,000.
Clients with an income level from 200,000 to 1,000,000 are more diligent in repaying the loan than clients with an income level from 50,000 to 200,000.
It is difficult to say anything definite about clients with other income levels due to their low representation in the sample.**

### How do different loan goals affect its repayment on time?

In [35]:
# we find the unique values of the 'total_income_category' column and look at the distribution of customers by their income level
print(data['purpose_category'].unique())
print(data['purpose_category'].value_counts())

['операции с недвижимостью' 'операции с автомобилем'
 'получение образования' 'проведение свадьбы']
операции с недвижимостью    10751
операции с автомобилем       4279
получение образования        3988
проведение свадьбы           2313
Name: purpose_category, dtype: int64

In [36]:
# create a pivot table in which the data will be grouped by the 'purpose_category' column
# and the total number of loans taken, the number of loans not returned on time is calculated
# and the share of loans not returned on time
data_purpose_category = data.pivot_table(index=['purpose_category'], values=['debt'], aggfunc=['sum', 'count', percentages])
print(data_purpose_category)

                          sum  count percentages
                         debt   debt        debt
purpose_category
операции с автомобилем    400   4279       9.35%
операции с недвижимостью  780  10751       7.26%
получение образования     369   3988       9.25%
проведение свадьбы        183   2313       7.91%

In [37]:
# we will assign more understandable names to the columns of the table for the customer
data_purpose_category = data_purpose_category.rename(columns = {'sum' : 'number of debtor clients', 
                                                                'count' : 'clients total number', 
                                                                'percentages' : 'percentage of debtors'})
print(data_purpose_category)

                         number of debtor clients clients total number  \
                                             debt                 debt
purpose_category
операции с автомобилем                        400                 4279
операции с недвижимостью                      780                10751
получение образования                         369                 3988
проведение свадьбы                            183                 2313

                         percentage of debtors
                                          debt
purpose_category
операции с автомобилем                   9.35%
операции с недвижимостью                 7.26%
получение образования                    9.25%
проведение свадьбы                       7.91%

**Conclusion: it was not possible to find a direct relationship between the purpose of the loan and its repayment on time, since the percentage of loans returned on time does not change significantly with different loan goals.
Nevertheless, it can be said that most of the bank's customers who take out a loan take it for real estate transactions.
Further, we can say that customers who take out a loan for real estate transactions are more diligent in repaying the loan.
The least executive are customers who take out a loan for car operations and for education.**

### Here are the possible reasons for the appearance of omissions in the source data.

1) Considering that the number of omissions in the columns 'days_employed' and 'total_income' is completely the same, it can be assumed that a software failure occurred and the data in these columns were not saved for the clients.
2) Perhaps some of the clients decided not to indicate their work experience and monthly income, as they decided that this would reduce their chances of obtaining a loan. It is obvious that banks are less willing to lend to people with low income and low work experience.

### Let's explain why filling in the gaps with the median value is the best solution for quantitative variables.

Because we cannot be 100% sure how distorted the data is and how much they are shifted in one direction or another.
Using the median allows us to operate on a typical value among the data, which is not affected by outliers (very large or very small values in the dataset).

### Step 4: General output.

In this project, we solved the problem of the influence of various factors (number of children, marital status, income level, purpose of the loan) on the repayment of the loan by the client on time.
The project was divided into two parts: in the first part we analyzed and processed the data, in the second we analyzed and investigated them.

When executing the first part of the project, we came across the fact that there are gaps in the columns 'days_employed' and 'total_income'.
This may be due either to a software glitch, or to the fact that customers deliberately did not fill in this data, deciding that this would increase their chances of getting a loan. The gaps in these columns were filled with median values.

When performing the second part of the project, neither the number of children, nor marital status, nor income level and the purpose of the loan, have a decisive impact on the repayment of the loan term.
Nevertheless, the following can be argued:
1) the majority of customers (92%) are trustworthy and repay the loan on time.
2) most of the bank's customers taking out a loan do not have children and are more diligent in repaying the loan than people with 1.2 children.
3) most of the bank's customers taking out a loan are married. Further, we can say that widows/widowers are more executive in repaying the loan, the least executive are Unmarried / unmarried clients, as well as clients who are in a civil marriage.
4) most of the bank's customers taking out a loan are people with an income level from 50,000 to 200,000 and from 200,000 to 1,000,000. Clients with an income level from 200,000 to 1,000,000 are more diligent in repaying a loan than clients with an income level from 50,000 to 200,000.
5) most of the bank's clients taking out a loan take it for real estate transactions. Further, we can say that customers who take out a loan for real estate transactions are more diligent in repaying the loan. The least executive are customers who take out a loan for car operations and for education.

It was also found that there are few clients in the data from the bank with three or more children and income levels of categories A, D, E. This fact has a direct impact on the analysis of the dependencies between the number of children and income level on loan repayment on time.